<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicnu.oasystem.mapper.CardHolderClassfyMapper">

    <insert id="insertCardHolderClassfyByCardHolderClassfyId" useGeneratedKeys="true" keyProperty="cardHolderClassfyId">
        insert into CardHolderClassfy(name, ownerId) values(#{name}, #{ownerId})
    </insert>

    <update id="updateCardHolderClassfyNameByCardHolderClassfyId">
        update CardHolderClassfy set name = #{name} where CardHolderClassfyId = #{CardHolderClassfyId}
    </update>

    <delete id="deleteCardHolderClassfyByCardHolderClassfyId">
        delete from CardHolderClassfy where CardHolderClassfyId = #{cardHolderClassfyId}
    </delete>

    <select id="findCardHolderClassfysByEmployeeId" resultType="com.sicnu.oasystem.pojo.CardHolderClassfy">
        select * from CardHolderClassfy where ownerId = #{employeeId}
    </select>

    <select id="findCardHolderClassfyByName" resultType="com.sicnu.oasystem.pojo.CardHolderClassfy">
        select * from CardHolderClassfy where name = #{name} and ownerId = #{ownerId}
    </select>

    <select id="findCardHolderClassfyByCardHolderClassfyId"
            resultType="com.sicnu.oasystem.pojo.CardHolderClassfy">
        select * from CardHolderClassfy where cardHolderClassfyId = #{cardHolderClassfyId}
    </select>
</mapper>