<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicnu.oasystem.mapper.CardHolderMapper">

    <insert id="insertCardHolderByOwnedId" useGeneratedKeys="true" keyProperty="cardHolderId">
        insert into CardHolder(ownerId, ownedId, cardHolderClassfyId) values(#{ownerId}, #{ownedId}, #{cardHolderClassfyId})
    </insert>

    <update id="updateCardHolderClassfyIdByCardHolderId">
        update CardHolder set cardHolderClassfyId = #{cardHolderClassfyId} where cardHolderId = #{cardHolderId}
    </update>

    <update id="updateCardHolderClassfyIdByOldCardHolderClassfyId">
        update CardHolder set cardHolderClassfyId = #{newCardHolderClassfyId} where cardHolderClassfyId = #{oldCardHolderClassfyId}
    </update>

    <delete id="deleteCardHolderByCardHolderIdAndOwnerId">
        delete from CardHolder where CardHolderId = #{CardHolderId} and ownerId = #{ownerId}
    </delete>

    <select id="findCardHolderByCardHolderClassfyId" resultType="com.sicnu.oasystem.pojo.CardHolder">
        select * from CardHolder where CardHolderClassfyId = #{CardHolderClassfyId}
    </select>

    <select id="findCardHolderByEmployeeId" resultType="com.sicnu.oasystem.pojo.CardHolder">
        select * from CardHolder where ownerId = #{employeeId}
    </select>

    <select id="findCardHolderByOwnerIdAndOwnedId" resultType="com.sicnu.oasystem.pojo.CardHolder">
        select * from CardHolder where ownerId = #{ownerId} and ownedId = #{ownedId}
    </select>
</mapper>