<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sicnu.oasystem.mapper.DepartmentMapper">
    <insert id="addDepartment">
        insert into department (name,phone) values (#{departmentName},  #{phone})
    </insert>
    <update id="updateDepartment">
        update department set departmentId = #{departmentId}
        <if test="name != null">,name = #{departmentName}</if>
        <if test="phone != null">,phone = #{phone}</if>
        where departmentId = #{departmentId}
    </update>
    <delete id="deleteDepartment">
        delete from Department where departmentId = #{departmentId}
    </delete>

    <select id="getAllDepartmentName" resultType="java.lang.String">
        select name from department
    </select>

    <select id="findDepartmentByDepartmentId" resultType="com.sicnu.oasystem.pojo.Department">
        select * from department where departmentid = #{departmentId}
    </select>
    <select id="findAllDepartment" resultType="com.sicnu.oasystem.pojo.Department">
        select * from department
    </select>
</mapper>