<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicnu.oasystem.mapper.DocumentMapper">

    <insert id="insertSendFile" useGeneratedKeys="true" keyProperty="sendfileid">
        insert into sendfile (type, title,
        <if test="sendFile.annexUrl != null">
            annexUrl,
        </if>
        content,sendPersonNum,isUrgent
        <if test="sendFile.remark != null">
            remark,
        </if>
        senderId,censorId,status)
        values (#{type}, #{title},
        <if test="sendFile.annexUrl != null">
            #{annexUrl},
        </if>
        #{content},#{sendPersonNum},#{isUrgent}
        <if test="sendFile.remark != null">
            #{remark},
        </if>
        #{senderId},#{censorId},#{status})
    </insert>
    <insert id="insertReceiveFile" useGeneratedKeys="true" keyProperty="receivefileid">
        insert into receivefile (sendfileId, receiverId, isReceived) values (#{sendfileId}, #{receiverId}, #{isReceived})
    </insert>
    <update id="updateSendFileBySendFile">
        update sendfile set sender = #{sender}
        <if test="sendFile.title != null">,title = #{title}</if>
        <if test="sendFile.content != null">,content = #{content}</if>
        <if test="sendFile.annexUrl != null">,annexUrl = #{annexUrl}</if>
        <if test="sendFile.remark != null">,remark = #{remark}</if>
        where senderId = #{senderId} and sendFileId = #{sendfileId}
    </update>
    <update id="updateStatusInSendFile">
        update sendfile set status = #{status} where sendfileId = #{sendfileId}
    </update>
    <update id="checkedReceiveFile">
        update receivefile set isReceived = 1 where receivefileId = #{receivefileId}
    </update>
    <select id="findSendFileByEmployeeIdAndSendfileId" resultType="com.sicnu.oasystem.pojo.SendFile">
        select * from sendfile where employeeId = #{employeeId} and sendfileId = #{sendfileId}
    </select>
    <select id="findUnReviewSendFile" resultType="com.sicnu.oasystem.pojo.SendFile">
        select * from sendfile where status = 0
    </select>


</mapper>