<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicnu.oasystem.mapper.EmployeeMapper">

    <resultMap id="ems" type="com.sicnu.oasystem.pojo.Employee">
        <id property="employeeId" column="employeeId"></id>
        <result property="username" column="username"></result>
        <result property="name" column="name"></result>
        <result property="phone" column="phone"></result>
        <result property="email" column="email"></result>
        <result property="position" column="position"></result>
        <result property="entryTime" column="entryTime"></result>
        <association property="department" javaType="com.sicnu.oasystem.pojo.Department">
            <id property="departmentId" column="departmentId"></id>
            <result property="name" column="dname"></result>
        </association>
    </resultMap>

    <update id="updatePartlyEmployeeByEmployeeId">
        update employee set email = #{email}, phone = #{phone}, homeaddress = #{homeAddress} where employeeid = #{employeeid}
    </update>

    <select id="findEmployeeByUsername" resultType="com.sicnu.oasystem.pojo.Employee">
        select * from employee where username = #{username}
    </select>

    <select id="findRolesByEmployeeId" resultType="com.sicnu.oasystem.pojo.Role">
        select role.roleId,role.name,employeerole.createTime,employeerole.updateTime from employeerole,role where employeeId = #{employeeId} and employeerole.roleId = role.roleId
    </select>

    <select id="findEmployeeByEmployeeId" resultType="com.sicnu.oasystem.pojo.Employee">
        select * from employee where employeeId = #{employeeId}
    </select>

    <select id="findDepartmentByDepartmentId" resultType="com.sicnu.oasystem.pojo.Department">
        select * from department where departmentid = #{departmentId}
    </select>

    <select id="getAllEmployee" resultMap="ems">
         select employee.employeeId,employee.username,employee.name,employee.phone,employee.email,employee.position,employee.entryTime,department.departmentId,department.name as dname from employee,department where employee.departmentId=department.departmentId
    </select>

    <select id="getEmployeeBypage" resultMap="ems">
         select employee.employeeId,employee.username,employee.name,employee.phone,employee.email,employee.position,department.departmentId,department.name as dname
         from employee,department where employee.departmentId=department.departmentId
         LIMIT
		 ${(currentPageNum-1)*pageSize}, ${pageSize}
    </select>

    <select id="getemployeenumbers" resultType="java.lang.Integer">
        select count(*) from employee
    </select>

    <select id="getEmployeeByCondition" resultMap="ems">
        select employee.employeeId,employee.username,employee.name,employee.phone,employee.email,employee.position,employee.entryTime,department.departmentId,department.name as dname
        from employee,department where employee.departmentId=department.departmentId
        <if test="sex !=null">
            and employee.sex=#{sex}
        </if>
        <if test="name !=null">
            and employee.name like #{name}
        </if>
    </select>

</mapper>