<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicnu.oasystem.mapper.EmployeeCardHolderMapper">

    <insert id="insertEmployeeCardHolder" useGeneratedKeys="true" keyProperty="employeeCardHolderId">
        insert into EmployeeCardHolder(employeeId, cardHolderId) values(#{employeeId}, #{cardHolderId})
    </insert>

    <delete id="deleteEmployeeCardHolderByEmployeeCardHolderId">
        delete from EmployeeCardHolder where employeeCardHolderId = #{employeeCardHolderId} and employeeId = #{employeeId}
    </delete>

    <select id="findEmployeeCardHolderByEmployeeIdAndCardHolderId"
            resultType="com.sicnu.oasystem.pojo.EmployeeCardHolder">
        select * from EmployeeCardHolder where employeeId = #{employeeId} and cardHolderId = #{cardHolderId}
    </select>

    <select id="findEmployeeCardHolderByCardHolderId" resultType="com.sicnu.oasystem.pojo.EmployeeCardHolder">
        select * from EmployeeCardHolder where cardHolderId = #{cardHolderId}
    </select>

    <select id="findEmployeeCardHolderByEmployeeCardHolderId"
            resultType="com.sicnu.oasystem.pojo.EmployeeCardHolder">
        select * from EmployeeCardHolder where EmployeeCardHolderId = #{EmployeeCardHolderId}
    </select>

    <select id="findEmployeeCardHolderByEmployeeId" resultType="com.sicnu.oasystem.pojo.EmployeeCardHolder">
        select * from EmployeeCardHolder where employeeId = #{employeeId}
    </select>
</mapper>