<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicnu.oasystem.mapper.EmployeeMapper">

    <resultMap id="ems" type="com.sicnu.oasystem.pojo.Employee">
        <id property="employeeId" column="employeeId"></id>
        <result property="username" column="username"></result>
        <result property="name" column="name"></result>
        <result property="phone" column="phone"></result>
        <result property="email" column="email"></result>
        <result property="position" column="position"></result>
        <result property="sex" column="sex"></result>
        <result property="entryTime" column="entryTime"></result>
        <association property="department" javaType="com.sicnu.oasystem.pojo.Department">
            <id property="departmentId" column="departmentId"></id>
            <result property="name" column="dname"></result>
        </association>
    </resultMap>

    <update id="updatePartlyEmployeeByEmployeeId">
        update employee set employeeId = #{employeeId},
        <if test="email != null">,email = #{email},</if>
        <if test="phone != null">,phone = #{phone}</if>
        <if test="homeAddress != null">,homeAddress = #{homeAddress}</if>
        where employeeid = #{employeeId}
    </update>

    <select id="findEmployeeByUsername" resultType="com.sicnu.oasystem.pojo.Employee">
        select * from employee where username = #{username}
    </select>

    <select id="findRolesByEmployeeId" resultType="com.sicnu.oasystem.pojo.Role">
        select role.roleId,role.name,employeerole.createTime,employeerole.updateTime from employeerole,role where employeeId = #{employeeId} and employeerole.roleId = role.roleId
    </select>

    <select id="findEmployeeByEmployeeId" resultType="com.sicnu.oasystem.pojo.Employee">
        select * from employee where employeeId = #{employeeId}
    </select>



    <select id="getAllEmployee" resultMap="ems">
         select employee.employeeId,employee.username,employee.name,employee.phone,employee.email,employee.position,employee.sex,employee.entryTime,department.departmentId,department.name as dname from employee,department where employee.departmentname=department.name
    </select>

    <select id="getEmployeeBypage" resultMap="ems">
         select employee.employeeId,employee.username,employee.name,employee.phone,employee.email,employee.position,employee.sex,department.departmentId,department.name as dname
         from employee,department where employee.departmentname=department.name
         LIMIT
		 ${(currentPageNum-1)*pageSize}, ${pageSize}
    </select>

    <select id="getemployeenumbers" resultType="java.lang.Integer">
        select count(*) from employee
    </select>

    <select id="getEmployeeByCondition" resultMap="ems">
        select employee.employeeId,employee.username,employee.name,employee.phone,employee.email,employee.position,employee.sex,employee.entryTime,department.departmentId,department.name as dname
        from employee,department where employee.departmentname=department.name
        <if test="sex !=null">
            and employee.sex=#{sex}
        </if>
        <if test="name !=null">
            and employee.name like #{name}
        </if>
    </select>

    <select id="findRoleByEmployeeIdAndRoleId" resultType="com.sicnu.oasystem.pojo.Role">
        select * from role where employeeId = #{employeeId} and roleId = #{roleId}
    </select>

    <select id="findEmployeesByRoleId" resultType="com.sicnu.oasystem.pojo.Employee">
        select * from employee where employeeId in (select employeeId from employeerole where roleid = #{roleId})
    </select>

    <select id="findRoleIdsByUrlPattern" resultType="java.lang.String">
        select name from role where roleId in(select roleId from RoleMenu where menuId = (select menuId from menu where url = #{urlPattern}))
    </select>
    <select id="findCodesByEmployeeId" resultType="java.lang.String">
        select code from menu where menuId in (select menuId from RoleMenu where roleId in (select roleId from EmployeeRole where employeeId = #{employeeId}))
    </select>
    <select id="findAllMenus" resultType="com.sicnu.oasystem.pojo.Menu">
        select * from menu
    </select>
    <select id="findAllRoles" resultType="com.sicnu.oasystem.pojo.Role">
        select * from role
    </select>


</mapper>