<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicnu.oasystem.mapper.EmployeeMapper">

    <select id="findEmployeeByUsername" resultType="com.sicnu.oasystem.pojo.Employee">
        select * from employee where username = #{username}
    </select>

    <select id="findRolesByEmployeeId" resultType="com.sicnu.oasystem.pojo.Role">
        select role.roleId,role.name,employeerole.createTime,employeerole.updateTime from employeerole,role where employeeId = #{employeeId} and employeerole.roleId = role.roleId
    </select>
</mapper>