<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sicnu.oasystem.mapper.MeetingMapper">
    <insert id="addOrderMeeting">
        insert into meeting(meetingroomid,status,employeeid,name,appoinmentstatus,starttime,endtime,peoplenum,remark)
        values (#{param1},#{param2},#{param3},#{param4},0,#{param5},#{param6},#{param7},#{param8})
    </insert>
    <update id="approveMeeting">
        update meeting set appoinmentstatus=#{param2} where meetingid=#{param1}
    </update>
    <update id="updateOrderMeeting">
        update meeting set meetingid=#{param1}
        <where>
            <if test="param2!=null">
                ,status=#{param2}
            </if>
            <if test="param3!=null">
                ,name=#{param3}
            </if>
            <if test="param4!=null">
                ,starttime=#{param4}
            </if>
            <if test="param5!=null">
                ,endtime=#{param5}
            </if>
            <if test="param6>0">
                ,peoplenum=#{param6}
            </if>
        </where>
    </update>
    <delete id="deleteMeeting">
        delete from meeting where meetingid=#{meetingId}
    </delete>

    <select id="getAllMeetings" resultType="com.sicnu.oasystem.pojo.Meeting">
        select meeting.* ,meetingroom.name as meetingRoomName from meeting,meetingroom where meeting.meetingroomid=meetingroom.meetingroomid
        and appoinmentstatus=1 and CURRENT_DATE>startTime and endTime>CURRENT_DATE
    </select>
    <select id="getMeetingById" resultType="com.sicnu.oasystem.pojo.Meeting">
        select * from meeting where meetingid=#{meetingId}
    </select>
    <select id="waitingApproveMeeting" resultType="com.sicnu.oasystem.pojo.Meeting">
         select meeting.* ,meetingroom.name as meetingRoomName from meeting,meetingroom where meeting.meetingroomid=meetingroom.meetingroomid
        and appoinmentstatus=0 and CURRENT_DATE>startTime and endTime>CURRENT_DATE
    </select>
    <select id="judgeIsIsOccupy" resultType="com.sicnu.oasystem.pojo.Meeting">
        select * from meeting where meetingroomid=#{param1} and ((UNIX_TIMESTAMP(#{param2})>=UNIX_TIMESTAMP(starttime) and UNIX_TIMESTAMP(endtime)>=UNIX_TIMESTAMP(#{param2}))
        or(UNIX_TIMESTAMP(#{param3})>=UNIX_TIMESTAMP(starttime) and UNIX_TIMESTAMP(endtime)>=UNIX_TIMESTAMP(#{param3})) or(UNIX_TIMESTAMP(#{param2})>=UNIX_TIMESTAMP(starttime) and UNIX_TIMESTAMP(endtime)>=UNIX_TIMESTAMP(#{param3})) )
    </select>
</mapper>